<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="skypconsol.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <skypconsol.Properties.Settings>
            <setting name="skype1" serializeAs="String">
                <value>https://login.live.com/login.srf?wa=wsignin1.0&amp;rpsnv=13&amp;ct=1522664016&amp;rver=7.0.6730.0&amp;wp=MBI_SSL&amp;wreply=https:%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D578134%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%253Fsource%253Dowa%26state%3De3de3057-fded-46a7-b46d-8cfdaa9baea6%26site_name%3Dlw.skype.com&amp;lc=1033&amp;id=293290&amp;mkt=en-CA&amp;psi=skype&amp;lw=1&amp;cobrandid=90010&amp;client_flight=hsu%2CReservedFlight33%2CReservedFlight67</value>
            </setting>
        </skypconsol.Properties.Settings>
    </userSettings>
</configuration>
